@import '../../theme/basic.scss';

.SlideShowContainer {
  @include centeredFullPage($baseContrastColor);

  h2 {
    @include sectionTitle;
    color: #333;
  }

  .slideShowBox {
    width: 100%;
    @include centerItemsDir(column, center);

    .slideShowSlides {

      // background-color: $baseColorTran1;
      // text-align: center;
      // width: $projectSizeMobile;
      // margin-bottom:$genMargin;
      // @include centerItemsDir(column, center, none);
      >div {
        background-color: inherit;
        text-align: center;
        width: $projectSizeMobile;
        height: fit-content;
        display: none;

      

        &.active {
          display: block;
        }
        &:hover .slideImage::before{
          display: block;
        }
        &:hover .projectTitleInside,
          &:focus .projectTitleInside{
            display: block !important;
          }
        .slideImage {
          position: relative;
          width: inherit;
          height: $projectSizeMobile;
          
          transition: all $scaleTime;

          &::before {
            content: "";
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $baseColorTran;
          }

          &:hover {
            transform: scale($scaleFactor);
          }
          &:hover ~ .slideInformation .projectTitle{
            margin-top: calc(#{$genMargin}*3) !important;
          }
          &::before:hover {
            display: block;
          };
          
          .slideHero{
            width: inherit;
            height: inherit;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .projectTitleInside {
              width: 100%;
              color: $baseContrastColor;
              position: absolute;
              top: 25%;
              left: 50%;
              transform: translateX(-50%);
              display: none;
              font-size: 2em;
              a{
                border-bottom: 2px solid $baseColor;
                padding: 0 $genPadding;
              }
            }
            .btnSlide {
              top: 45%;
              padding: calc(#{$genMargin}*1);
              position: absolute;
              border: none;
              background-color: rgba(31, 43, 108, .4);
    
              &:hover,
              &:active,
              &:focus {
                background-color: rgba(31, 43, 108, .6);
                color: $baseContrastColor;
    
              }
          }
          

        
        }

      
        }

        .slideLeftArrowContainer {
          padding-left: 10px !important;
          left: 0;
        }

        .slideRightArrowContainer {
          padding-right: 10px !important;
          right: 0;
        }

        .slideInformation {
          background-color: inherit;

          .slideShowDots {
            background-color: inherit;
            padding-top: calc(#{$genMargin}/2);
            color: $darkContrast;
            text-align: center;
            font-size: .8em;

            li {
              cursor: pointer;

              display: inline;
              font-family: serif !important;

              &:hover {
                color: $lightGray;
              }
            }
          }

          .projectTitle {
            background-color: inherit;
            margin: $genMargin;
            transition: all $scaleTime;
          }

          .showDetailsBtn {
            // background-color: inherit;
            padding-right: 25px;

            i {
              padding-right: 1em;
            }
          }

        }

        @include lg {
          width: $projectSize;
        }

        @include xl {
          width: calc(#{$projectSize}*(4/3));
        }
      }

    }

  }
}

.projectBtn {
  font-size: 1.1em;
  font-weight: 500;
  padding: $genPadding;
  border: 1px solid $baseColor;
  width: fit-content;
  margin: 0 auto;
  color: $baseContrastColor;
  background-color: $baseColor;

  &:hover,
  &:active,
  &:focus {
    color: $baseColor;
    background-color: $baseContrastColor;
  }
}