@import '../../theme/basic.scss';
.SlideShowContainer{
   
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
}
body{
    background-color: #F9F9FA
  }
  .slideshow {
    width: 480px;
    height: 360px;
    background: #000;
    position: relative;
  }
  .slideshow-slides {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow-slides li {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    padding: 0;
    transition: .2s;
    opacity: 0;
  }
  .slideshow-slides li.active {
    opacity: 1;
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
  }
  
  .slideshow-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    list-style: none;
  }
  .slideshow-dots li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .slideshow-dots a {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 10px;
    text-indent: -9990px;
    opacity: .5;
    transition: .3s;
  }
  .slideshow-dots li.active a {
    opacity: 1;
  }