@import '../../theme/basic.scss';
.row{
    @include centerItemsDir(row,center,flex-start);
    flex-wrap: wrap;
    .serviceCard {
        width: $logoImgWidthMobil;
        height: 300px;
        @include centerItemsDir(column,center,flex-start);
        color: $baseContrastColor;
        padding: 1em;
        .cardIcon{
            margin-bottom: $genMargin;
            i{
                width: $logoImgWidth;
                height: $iconHeight;
                border-radius: $bordRad;
                color: $baseColor;
                background-color: $baseContrastColor;
                font-size: 3em;
                line-height: $iconHeight;
                display: table-cell;
                vertical-align: middle; 
                text-align: center;
            }
            
        }
        .cardContent{
            text-align: center;
            font-size: 1em;
            p{
                color:$secondBaseColor;
                // font-size: 1.2em;
                font-weight: 600;
                line-height: 1.2;
            }
            span{
                text-align: center;
                font-size: .8em;
            }
        }
        @include lg{
            width: 50%;
            font-size: 1.2em;
            .cardIcon{
                i{
                    width: $logoImgWidth;
                    height: $logoImgWidth;
                }
            }
        }
        
    }
}