@import '../../theme/color.scss';
@import '../../theme/basic.scss';
.serviceCard {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $baseContrastColor;
    padding: 1.5em;
    border: 1.5px solid $transparent;
    &:hover{
        border: 1.5px solid $secondBaseColor; 
    }
    span{
        background-color: $baseContrastColor;
        width: 112px;
        height: 112px;
        border-radius: 50%;
        color: $baseColor;
        font-size: 3em;
        line-height: 120px;
        display: table-cell;
        vertical-align: middle; 
        text-align: center;
        border: 1px solid $baseContrastColor;

        &:hover, &:active {
            color: $baseContrastColor;
            background-color: $baseColor;
            cursor: pointer;
        }
    }
    h4{
        font-size: 1.5em;
        margin-bottom: 8px;
        font-weight: 500;
        line-height: 1.2;
        
    }
    p{
        font-size: 1em;
    }
}