@import '../../theme/color.scss';
@import '../../theme/basic.scss';

.thatsMe {
   @include centeredFullPage(rgba(0, 0, 0, 0));
   @include centerItemsDir();
   h2 {
      @include sectionTitle;
      color: #333;
   }
   .row {
      width: 100%;
      margin: 0 auto;
      @include centerItemsDir(row, start, space-evenly);
      .column{
         padding: 0;
         >div{
            margin: $genPadding;
         }
      }
      .Column-1-3 {
         font-size: .8em;
         width: 65%;
         @include centerItemsDir( row,center,space-between);
         
         #logo {
            width: $logoImgWidthMobil;;
            margin-bottom: $genMargin;
            img {
               width: inherit;
            }
         }
         #vision {
            width: $logoImgWidth;
            font-family: $subFont;
            font-size: 1.5em;
            padding: 0;
            margin: 0;
            text-align: center;
         }

         @include lg{
            width: 25%;
            flex-direction: column;
            font-size: 1.3em;
            #logo{
               width: $logoImgWidth;
              
            }
         }
      }

      .Column-2-3 {
         width: 90%;
         .content{
            >p{
               margin: $genMargin*2 0;
               line-height: 1.5;
               color: $softBlack;
            }
            .intro{
               p::first-letter {
                  color: $secondBaseColor;
                  font-weight: bold;
                  margin-right: .15em;
                  font-size: 1.2em;
                }
            }
         }
      @include lg{
         width: 60%;
      }
   }}
}