@import '../../theme/basic.scss';

nav {
    @include centerItemsDir(row,center,space-between);
    position: sticky;
    top: 0;
    height: $navBarHeight;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    color: $baseContrastColor;
    transition: background-color 1s ease 0s;
    padding-left: 10px;
    color: $baseContrastColor;
    .logoContainer{
        display: inline-block;
        width: 80%;
        position: relative;
        h2{
            position: absolute;
            top: -5px;
            left: 5px;
            display: inline-block;
            font-size: 2em;
            transition: all $scaleTime;
            z-index: 9999999;
           
        }
        @include lg{
            width: 30%;
        }
        // .logoTitle{
        //     display: none;
        // }
        .logoTitleLong{
            display: none;
        }
        &:hover, &:focus{
            color: $triadColor ;
        }
        &:hover .logoTitleLong, &:focus .logoTitleLong{
            display: inline;
    
        }
        &:hover .logoTitle, &:focus .logoTitle{
            display: none;
    
        }
       
        
    }
   
    #nav-check {
        display: none;
    }

    >.nav-btn {
        display: none;
    }
    >.nav-links {
        padding-top: $genPadding*2;
        display: inline;
        float: right;
        margin-right: $genMargin;
        >a {
            display: inline-block;
            text-transform: uppercase;
            margin-right: inherit;
            border-bottom: 1px solid inherit;
            &:hover,
            &:active {
                color: $shallowWhite;
                border-bottom: 1px solid $shallowWhite;
                transform: translateY(-2px);
            }
        }
    }
    @include md {
        .nav-btn {
            display: none;
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
            height: inherit;
            >label {
                display: inline-block;
                width: $navBarHeight;
                height: $navBarHeight;
                padding: .6em;
                &:hover {
                    background-color: $blackTransp;
                }
                >span {
                    display: block;
                    width: 100%;
                    height: 10px;
                    padding-bottom: .6em;
                    border-top: .25em solid $shallowWhite;
                }  
            }
        }
        #nav-check:checked~.nav-btn>label{
            background-color: $blackTransp;
        }
        #nav-check:checked~.nav-links{
            display: flex;
        }
        #nav-check:not(:checked)~.nav-links {
            height: 0px;
            text-align: center;
            display:none;
        }

        #nav-check:checked~.nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
        .nav-links {
            position: absolute;
            display: block;
            width: 100%;
            top: 50px;
            left: 0px;
            height: 0px;
            background-color: $darkContrast;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            @include centerItemsDir(column,center,center);
            >a {
                display: inline;
                margin: $genMargin*2 0 ;
            }
        }
       
    }
}
nav.solid{
    background-color: $baseColor;
}
