@import './color.scss';
$genPadding: 10px;
$bordRad: 0px;
@mixin paralexBackground(){   
    margin-top:-80px;
    /* The image used */
//   background-image: url($img);
  /* Full height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
       
}
@mixin centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centeredFullPage($bcolor) {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $bcolor;
    min-height: 900px;
    margin-bottom: 100px;
    padding-top: 100px;
    >div{max-width: 1200px;}
}
@mixin sectionTitle(){
    color: $baseContrastColor;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 48px;
    margin-top: 0;
}
@mixin sectionSubTitle(){
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondBaseColor;
}
@mixin iconHover($mainColor, $secColor){
    border-color: $mainColor;
    color: $mainColor;
    background-color: $secColor;
    cursor: pointer;
    text-align: center;
    border: 1px solid $mainColor;
    border-radius: $bordRad;
    background-color: $secColor;
    padding: 5px;
    margin: 10px;
    &:active, &:hover{
        border-color: $secColor;
        color: $secColor;
        background-color: $mainColor;
    }
}
@mixin BluePaper(){
    background: #58a;
    background-image: linear-gradient(white 2px, transparent 0),linear-gradient(90deg, white 2px, transparent 0),linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),linear-gradient(90deg, hsla(0,0%,100%,.3) 1px , transparent 0);
    background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
    
}

