@import './color.scss';
@import './reset.scss';
@import './responsive.scss';
@import './defaultValues.scss';
@mixin paralexBackground(){   
    margin-top:-80px;
    /* The image used */
    //   background-image: url($img);
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

$headings : h1 h2 h3 h4 h5 h6;
@each $heading in $headings{
    #{$heading} {
      font-family: $mainFont;
    }
  
  }
// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }
@mixin centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centerItemsDir($direction : column, $align :center,$justi:center ){
    display: flex;
    justify-content: $justi;
    align-items: $align;
    flex-direction: $direction;
}
@mixin centeredFullPage($bcolor:$baseContrastColor) {
    position:relative;
    font-size: $genFontSize;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $bcolor;
    // min-height: 900px;
    margin-bottom: 100px;
    padding-top: $padCenterPageMobil;
    padding-bottom: $padCenterPageMobil;
    >div{max-width: 1200px;}
    @include md{
        
    }
    @include lg{
        padding-top: $padCenterPage;
        font-size: $genFontSize;
    }

}
@mixin sectionTitle(){
    color: $baseContrastColor;
    font-size: $genSectionTitleSizeMobile;
    font-weight: bold;
    margin-bottom: $genMargin;
    @include lg{
        font-size:$genSectionTitleSize;
    }
}
.sectionTitle{
    @include sectionTitle;
}
@mixin sectionSubTitle(){
    margin: 0;
    margin-bottom: $genMargin;
    padding: $genPadding;

    font-size: calc(#{$genSectionTitleSize} *(2/3));
    font-weight: 700;
    text-transform: uppercase;
    color: $secondBaseColor;
}
.sectionSubTitle{
    @include sectionSubTitle;
}
@mixin iconHover($mainColor, $secColor){
    border-color: $mainColor;
    color: $mainColor;
    background-color: $secColor;
    cursor: pointer;
    text-align: center;
    border: 1px solid $mainColor;
    border-radius: $bordRad;
    background-color: $secColor;
    padding: 5px;
    margin: 10px;
    &:active, &:hover{
        border-color: $secColor;
        color: $secColor;
        background-color: $mainColor;
    }
}

.detailLabel{
    font-size: 1em;
    font-weight: 500;
}
@mixin BluePaper(){
    background: #58a;
    background-image: linear-gradient(white 2px, transparent 0),linear-gradient(90deg, white 2px, transparent 0),linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),linear-gradient(90deg, hsla(0,0%,100%,.3) 1px , transparent 0);
    background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
    
}

@mixin  transSlow {
    -webkit-transition: all $transitionDurationText ease-in;
    -moz-transition: all $transitionDurationText ease-in;
    -o-transition: all $transitionDurationText ease-in;
    transition: all $transitionDurationText ease-in;
}
@mixin transFast{
    -webkit-transition: all $transistionDurationTextDisapear ease-out;
    -moz-transition: all $transistionDurationTextDisapear ease-out;
    -o-transition: all $transistionDurationTextDisapear ease-out;
    transition: all $transistionDurationTextDisapear ease-out;
}