$baseColor: #1d809f;
$baseColorTran: rgba(28,129,149,.4);
$baseColorTran1: rgba(28,129,149,.1);
$baseAnalogColor1: #1d9f7d;
$baseAnalogColor2: rgba(31,43,108,.1);
$baseContrastColor: white;
$secondBaseColor: #E5AC00;
$logoColor: #B2EBF9;
$secondContrastColor: #ac00e5;
$darkContrast: #2d2200;
$lightGray: #ccc;
$softBlack: #555;
$shallowWhite: #eee;
$transparent: rgba(0,0,0,0);
$blackTransp: rgba(0,0,0,.3);
$gold : rgba(255,215,0,1);
