$baseColor: #1d809f;
$baseAnalogColor1: #1d9f7d;
$baseAnalogColor2: #1d3f9f;
$baseContrastColor: white;
$secondBaseColor: #E5AC00;
$secondContrastColor: #ac00e5;
$darkContrast: #2d2200;
$lightGray: #ccc;
$transparent: rgba(0,0,0,0);