$genPadding: 10px;
$padCenterPageMobil: 80px;
$padCenterPage: 200px;

$genMargin: 15px;
$bordRad: 0px;


$genFontSizeMobil: 14px;
$genFontSize: 18px;
$genSectionTitleSizeMobile: 20px;
$genSectionTitleSize: 30px;

$navBarHeight: 50px;
$logoImgWidth: 200px;
$logoImgWidthMobil: calc(#{$logoImgWidth}*(3/4));
$iconHeight: 120px;


$mainFont: 'Cantarell', sans-serif;
$subFont: 'Patrick Hand', cursive;