@import '../../theme/color.scss';
@import '../../theme/basic.scss';
.header{
    margin: 0 auto;
    text-align:center;
    color: $baseContrastColor;
    height: 100vh;
    min-height: 400px;
    min-width: 300px;
    h1{
        margin: 0;
        padding-top: 8vh;
        font-size: 4rem;
    }
    p{
        font-weight: 700;
        font-size: 1.75rem;
        margin-bottom: 30px;
        font-style: italic;
        color: $secondBaseColor
    }
    a{
        font-weight: 700;
        background-color: $baseColor;
        color: white;
        font-weight: 700;
        display: inline-block;
        padding: 1.25rem 2.5rem;
    }
    a:hover{
        border-color: $baseContrastColor;
    }
}