@import '../../theme/basic.scss';
.header{
    width: 100%;
    color: $baseContrastColor;
    height: 100vh;
    @include centerItemsDir(column, center,no)
    h1{
        padding-top: 8vh;
    }
    @include md{
        h1{
            padding-top: 15%;
        }
    }
}