@import '../../theme/color.scss';
@import '../../theme/basic.scss';
.footer{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:150px;
    background-color: $darkContrast;
    color: $baseContrastColor;
    .copyRight{
        span{
            margin: 0 10px;
        }
        span:first-child{
            margin-left: 62px;
        }
    }
    .contactBar {
        margin-top: 20px;
        width: 20%;
        display: flex;
        justify-content: center;
        > div{
            
        }
    }
}