html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Cantarell", sans-serif;
}

h2 {
  font-family: "Cantarell", sans-serif;
}

h3 {
  font-family: "Cantarell", sans-serif;
}

h4 {
  font-family: "Cantarell", sans-serif;
}

h5 {
  font-family: "Cantarell", sans-serif;
}

h6 {
  font-family: "Cantarell", sans-serif;
}

.sectionTitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (min-width: 780px) {
  .sectionTitle {
    font-size: 30px;
  }
}

.sectionSubTitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-size: calc(30px *(2/3));
  font-weight: 700;
  text-transform: uppercase;
  color: #E5AC00;
}

.detailLabel {
  font-size: 1em;
  font-weight: 500;
}

.componentContainer {
  position: relative;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.componentContainer > div {
  max-width: 1200px;
}

@media only screen and (min-width: 780px) {
  .componentContainer {
    padding-top: 150px;
    font-size: 18px;
  }
}

.componentContainer .sectionTitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2d2200;
}

@media only screen and (min-width: 780px) {
  .componentContainer .sectionTitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 780px) {
  .componentContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 1000px;
    width: 95%;
  }
}

.componentContainer .subText {
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.4em;
}

.componentContainer .sectionSubTitle {
  margin-top: calc(15px*2);
}
/*# sourceMappingURL=ComponentContainer.css.map */