@import '../../theme/color.scss';
@import '../../theme/basic.scss';
.componentContainer{
    @include centeredFullPage(white);
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    h2{
        @include sectionTitle;
        color: #444;    
    }
    @include md{
        justify-content: center;
        min-height: 1000px;
        width: 95%;
    }
}