@import '../../theme/color.scss';
@import '../../theme/basic.scss';
.componentContainer{
    @include centeredFullPage(white);
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 0px;
    @include md{
        justify-content: center;

        width: 95%;
    }
}