@import '../../theme/color.scss';
@import '../../theme/basic.scss';
// @keyframes change-content {
//     from { justify-content: flex-end; }
//     to { justify-content: flex-start; }
// }
// @keyframes slidein {

//     to{left:0}
// }


$widthImg: 200px;
$transistionDurationImg: .5s;
$transitionDurationText: 2s;
$transistionDurationTextDisapear: .01s;
$companyImgSize: 120px;
$marginDetails: 30px;
@mixin  transSlow {
    -webkit-transition: all $transitionDurationText ease-in;
    -moz-transition: all $transitionDurationText ease-in;
    -o-transition: all $transitionDurationText ease-in;
    transition: all $transitionDurationText ease-in;
}
@mixin transFast{
    -webkit-transition: all $transistionDurationTextDisapear ease-out;
    -moz-transition: all $transistionDurationTextDisapear ease-out;
    -o-transition: all $transistionDurationTextDisapear ease-out;
    transition: all $transistionDurationTextDisapear ease-out;
}
.companyDetails{
    height: fit-content;
    min-height: 200px;
    width: 100%;
    z-index: 99;
    // background-color: green;
    // border: 1px solid black;
    // margin-top: calc(#{$genMargin}*2);

    position: relative;
    
   
    >a {
        z-index:100;
        width: $widthImg;
        height: $widthImg;
        // background: orange;
        
        @include centerItems;
       
        @include md{
            width: $widthImg/2;
            height: $widthImg/2;
            left: 0px;
            position:relative;
            flex-direction: column;

        }
    
        @include lg{
            transition:$transistionDurationImg  ease-in;
            -webkit-transition:$transistionDurationImg  ease-in;
            -moz-transition:$transistionDurationImg  ease-in;
            position: absolute;
            left: calc(100% - 200px);
            
        }

        img{
            width: $widthImg;
            @include md{
                width: $widthImg*(2/3);
            }
        }
      
       
            
        
    }
    @include lg{
        >a.hover, >a.active{
                display:none;
            }
        &:hover a, &:active a
        {
           left: 0;
        }
        &:hover .detailsContainer, &:active .detailsContainer{
            opacity:1;
            // left: $widthImg + 220px;
           
        }
        margin-top: calc(#{$genMargin}*(1/2));

        }
    
    @include md{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  
       @include lg{
        
       }
    
    }
    .detailsContainer{
        
        // background-color: violet;
        width: 550px;
        position: absolute;
        padding: $genPadding*2;
        // left: 100%;
        
        top: 15%;
        opacity: 0;
        display: flex;
        flex-direction: row;

        @include transSlow;

        @include md{
            opacity:1;
            width: 100%;
            position: relative;
            left: 0;
            padding: $genPadding;
            display: flex;
            justify-content: center;

        }
        @include lg{
            left: 190px;
        }
        @include xl{
            width: 700px;
            left: $widthImg + 220px;
        }
        
        .companyImgContainer{
            // width: $companyImgSize;
            // height: $companyImgSize;
            margin-right: $marginDetails;
            
            border-radius: 50%;
            @include md{
                margin-right: $marginDetails/2;
            }
                a{
                    img{
                    width:$companyImgSize;
                    border-radius: 50%;
                    @include md{
                        width: $companyImgSize/2;
                    }
                }
            }
        }
        .detailsTextContainer{
            // display: flex;
            // flex-direction: column;
            color: $softBlack;
            @include md{
                font-size: .7em;
            }
            .detailsTextHeadline{
                display:flex;
                justify-content: space-between;
                margin-bottom: 10px;
                a{
                    margin-right: $marginDetails*2;
                    display:inline;
                    h3{
                        font-size: 1.8em;
                        padding: 0;
                        margin: 0;
                    }
                }
                .timePeriode{
                    color: $softBlack;
                    float: right;
                    padding-top:10px;
                    display: block;
                    font-size: .8em;
                    i{
                        margin-right: $marginDetails/2;
                    }
                    
                }
            }
            .detailSubtextContainer{
                .detailSubtext{
                    margin-top: 10px;
                }
            }
           
           
            
        }
        
    }
    @include lg{
        .detailsContainer.hide{
            @include transFast;
         
        }
    }
    
    
.text-seperator{
    margin: 0 10px;
}
.detailSubject{
    margin-right: 12px;
    font-weight: 500;
    font-size: 1em;
}