@import '../../theme/basic.scss';
$detailsLineHeight: 1.5em;
.ProjectDetail{
    margin: 0 auto;
    margin-top: $genMargin;
    background-color: $baseColorTran1;
    padding: calc(#{$genPadding} *4);
    font-size: .9em;
    display: grid;
    grid-column-gap: $genMargin;
    grid-template-columns: 30% 70%;
    text-align: left;

    >div{
        font-size: .9em;
        line-height: $detailsLineHeight;
        img{
            width: $widthMiniPng;
            margin: $genMarginHalf;
            transition: all 1s;
            z-index:20;
            &:hover {
                width: calc(#{$widthMiniPng}*2);
            }
        }
    }
    .label{
        font-size: 1em;
        font-weight: 500;
    }

   
    }
    