@import '../../theme/basic.scss';

.ProjectDetail{
    margin: 0 auto;
    margin-top: $genMargin;
    background-color: $baseColorTran1;
    padding: calc(#{$genPadding} *4);
    font-size: .9em;
    display: grid;
    grid-column-gap: $genMargin;
    grid-template-columns: 30% 70%;
    text-align: left;

    >div{
        line-height: $detailsLineHeight;
        img{
            width: $widthMiniPng;
            margin: $genMarginHalf;
            transition: all 1s;
            z-index:20;
            &:hover {
                width: calc(#{$widthMiniPng}*2);
            }
        }
    }
    
    .detail a{
        text-decoration: underline;
        &:hover{
            color: $baseColor;
        }
    }

   
    }
    