@import './theme/color.scss';
@import './theme/basic.scss';
@import './theme/btn.scss';
html,body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;

}
.app{
    .paralex{
        @include paralexBackground();
    }
    
    #backTopBtn{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 2em;
        outline: none;
        padding: 10px;
        @include iconHover(white,black);     
    }
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }