@import '../../theme/basic.scss';
.services{
    @include centeredFullPage(rgba(0,0,0,0));
    @include centerItemsDir(column, center, none);
    margin:0 auto;
   
    .servicesInnerbox{
        padding: $genPadding;
        text-align: center;
        background-color: $baseColorTran;
        .row{
            display: flex;
            justify-content: space-around;
                
        }  
    }
    
}
